<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sparky</title>
    <link rel="apple-touch-icon" href="/static/touch-icon.png">    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.1.1-1/css/amelia/bootstrap.min.css" type="text/css" title="theme">
    
    <link rel="stylesheet" href="/static/custom.css" type="text/css">
    
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.0/spin.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.2.0/bootbox.min.js" type="text/javascript"></script>
    
    <script src="/static/local.js" type="text/javascript"></script>
    
</head>

<body>
	{% include 'header.html' %}
    <div id="page-content">
		<div class="container">
		{% block content %}
		{% endblock %}
		</div>
	</div>

    <script>
		$(document).ready(function () {
			{% block js%}{% endblock %}
		});
    </script>
</body>

</html>
 
