    <header class="navbar navbar-default navbar-fixed-top" role="banner" id="slide-nav">
        <div class="container">
            <div class="navbar-header">
				<button class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/">Sparky</a>
			</div>
			<div id="slidemenu">
				<ul class="nav navbar-nav" role="navigation">
					<li class="sendToPiButton"><a class="btn btn-primary" href="#"><i class="glyphicon glyphicon-share-alt"></i> Send to Pi</a></li>
					<li><a class="btn btn-link" href="/remote"><i class="glyphicon glyphicon-th"></i> Remote</a></li>
					<li><a class="btn btn-link" href="/settings"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
				</ul>
			</div>
            
        </div>
    </header>
