{% extends "base.html" %}

{% block title %}Remote{% endblock %}

{% block content %}
<div class="container controls">
	<div class="row row-padded">
		<a href="#" data-command="back" class="btn btn-default btn-xl col-xs-3">
			<i class="glyphicon glyphicon-step-backward"></i>
		</a>
		<a href="#" data-command="toggle_pause" class="btn btn-success btn-xl col-xs-6">
			<i class="glyphicon glyphicon-play"></i></i>
		</a>
		<a href="#" data-command="forward" class="btn btn-default btn-xl col-xs-3">
			<i class="glyphicon glyphicon-step-forward"></i>
		</a>
	</div>
	<div class="row row-padded">
		<a href="#" data-command="vol_down" class="btn btn-default btn-xl col-xs-4">
			<i class="glyphicon glyphicon-volume-down"></i>
		</a>
		<a href="#" data-command="stop" class="btn btn-default btn-xl col-xs-4 btn-danger">
			<i class="glyphicon glyphicon-stop"></i>
		</a>
		<a href="#" data-command="vol_up" class="btn btn-default btn-xl col-xs-4">
			<i class="glyphicon glyphicon-volume-up"></i>
		</a>
	</div>
</div>
{% endblock %}

{% block js %}
	$('.controls .btn').click(function () {
		if (!($(this).hasClass('btn-danger') && !confirm("Are you sure you want to do that?"))) {
			$.get('command/' + $(this).data('command'));
            updateInfo();
		}
		return false;
	});
    
    function updateInfo() {
        var j = {};
        $.getJSON('/status/', function(status) {
            setRemoteEnabled(status.video_loaded);
            if(status.video_loaded) {
                playpause = $('a[data-command="toggle_pause"] i');
                if(status.paused) {
                    playpause.removeClass('glyphicon-pause');
                    playpause.addClass('glyphicon-play');
                } else { //playing
                    playpause.removeClass('glyphicon-play');
                    playpause.addClass('glyphicon-pause');
                }
            }
        });
    }
    
    buttonsEnabled = true;
    function setRemoteEnabled(en) {
        if(en != buttonsEnabled) { // only update on changes
            if(en) {
                // if we've become enabled
                $('.controls .btn').removeAttr('disabled'); // Enables visually + functionally
                
            } else {
                // if we've become disabled
                $('.controls .btn').attr('disabled', 'disabled'); // Disables visually + functionally
                
            }
            console.log('buttons enabled changed from ' + buttonsEnabled + ' to ' + en);
            buttonsEnabled = en;
        }
    }
    
    // run it once when you load the page so buttons are in the correct state
    updateInfo();
    
    setInterval(updateInfo, 5000); // 5 second repeat, lower?
{% endblock %}
