{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}
{% block content %}
	<span class="text-center">
		<h1>Hello, and welcome to Sparky, the Raspberry Pi HTPC!</h1>
		<img width="200" class="center-block" src="/static/logo.svg">
		<br>
		<p>To get started, try hitting the "Send to Pi" button and pasting in the link to a Youtube video.</p>
        <p>You'll be able to use the remote once something is playing.</p>
        <p>If you wanna use a bookmarklet to send stuff, here's one for you! Just drag it to your bookmarks bar. <a class="btn btn-info" href='javascript:window.location.href="http://192.168.1.139/play?url="+encodeURIComponent(document.URL);'>Send to Pi</a></p>
	</span>
{% endblock %}
