{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}
{% block content %}
	<span class="text-center">
		<h1>Hello, and welcome to my Pi HTPC!</h1>
		<img width="200" class="center-block" src="/static/logo.svg">
		<br>
		<p>This project was created so I didn't have to buy an AppleTV.</p>
		<p>As well as providing a means to play web video through the Pi's video output,
		it provides an AirPlay server so any machine in the house can stream audio to it.</p>
		<p>If you wanna know how I did any of this, go to <a href="http://github.com/Aerobit/pi-htpc">the project's GitHub repo,</a> and if you have any questions/comments, shoot me an email at <a href="mailto:arilotter@gmail.com">arilotter@gmail.com</a></p>
	</span>
{% endblock %}
